
      </main>
    </div>  <!-- .row -->
  </div>    <!-- .container-fluid -->

  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="/public/js/humanize.min.js"></script>
  <script src="/public/js/moment-with-locales.min.js"></script>
  <script src="/public/js/lyceum.js"></script>
  {{range .moreScripts}}
    <script src="/public/{{.}}"></script>
  {{end}}

</body>
</html>
