<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <a href="/" class="navbar-brand"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Lyceum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-main">
    <form action='{{url "App.Search"}}' method="GET" class="form-inline my-2 my-lg-0 col-6">
      <input type="text" class="w-75 form-control mr-sm-1" name="q" placeholder="Search" aria-label="Search">
      <button type="submit" class="btn btn-default my-2 my-sm-0"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload</button>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='{{url "Item.Upload"}}' method="POST" enctype="multipart/form-data" class="form">
        <div class="modal-body">
          <p>Please choose a file to upload.</p>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" id="fileUpload" class="custom-file-input" name="data">
                <label class="custom-file-label" for="fileUpload">Choose...</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
