<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href='{{url "App.Index"}}'><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='{{url "Library.List"}}'><i class="fa fa-university fa-fw" aria-hidden="true"></i>&nbsp;Libraries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='{{url "Item.List"}}'><i class="fa fa-upload fa-fw" aria-hidden="true"></i>&nbsp;Uploads</a>
      </li>
    </ul>

    <hr class="my-4">

    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href='{{url "Settings.Index"}}'><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp;Log Out</a>
      </li>
    </ul>
  </div>
</nav>
